.header__logo {
  width: 43px;
  object-fit: contain;
  margin-left: calc((30 / 1440) * 100%);
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .header__logo {
    margin-left: 24px;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    margin-left: 24px;
    margin-top: 32px;
  }
}
