.reviews__title{
  grid-column: 2;
  grid-row: 1;
}

@media screen and (max-width: 900px) {
  .reviews__title {
    grid-column: 1;
    max-width: 330px;
  }
}

@media screen and (max-width: 600px) {
  .reviews__title {
    grid-column: 2;
    max-width: 230px;
    font-size: 28px;
    line-height: 32px;
  }
}
