.header__link {
  text-decoration: none;
  color: var(--colorText);
  position: relative;
  text-align: center;
  margin: 0;
}

.header__link::before{
  content:" ";
  position: absolute;
  background-image: url("../../../images/link-ellipse-left.svg");
  background-size: cover;
  left: -10px;
  width: 10px;
  height: 24px;
  opacity: 0;
  transition: opacity .3s;
}

.header__link::after{
  content:"";
  position: absolute;
  background-image: url("../../../images/link-ellipse-right.svg");
  background-size: cover;
  width: 10px;
  height: 24px;
  opacity: 0;
  transition: opacity .3s;
}

.header__link:hover::before{
  /*content:" ";
   position: absolute;
  background-image: url("../../../images/link-ellipse-left.svg");
  left: -10px;
  width: 10px;
  height: 24px; */
  opacity: 1;
  transition: opacity .3s;
}

.header__link:hover::after{
  /* content:" ";
  position: absolute;
  background-image: url("../../../images/link-ellipse-right.svg");
  width: 10px;
  height: 24px; */
  opacity: 1;
  transition: opacity .3s;
}

