.photo-grid__title {
  color: #242424;
  max-width: 568px;
  padding-bottom: 40px;
  padding-left: 362px;
  overflow-wrap: break-word;
}


@media screen and (max-width: 1440px) {
  .photo-grid__title {
    padding-left: calc(100vw/4);
  }
}


@media screen and (max-width: 900px) {
  .photo-grid__title {
    font-size: 28px;
    line-height: 1.14;
    max-width: 369px;
    padding-left: 24px;
    padding-bottom: 22px;
  }
}
