.header__burger-menu {
  visibility: hidden;
  opacity: 0;
  width: 72px;
  height: 72px;
  background-image: url(../../../images/header-burger-menu.svg);
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 0;
  transition: visibility 0.5s linear 0.5s, opacity 0.3s linear;
}

.header__burger-menu:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.2s;
}

@media screen and (max-width: 1200px) {
  .header__burger-menu {
    visibility: visible;
    opacity: 1;
    transition: visibility 0.5s linear, opacity 0.3s linear;
  }
}
