.header__button {
  text-decoration: none;
  color: var(--colorText);
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transform: none;
  transition: visibility 0s linear, opacity 0.5s linear, transform 0.5s;
  opacity: 1;
}

.header__button::before {
  content: " ";
  background-size: cover;
  background-image: url(../../../images/link-support-plus.svg);
  width: 25px;
  height: 25px;
  padding: 0;
  opacity: 1;
  transition: opacity 0.5s;
}

.header__button:hover {
  opacity: 0.7;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1200px) {
  .header__button {
    visibility: hidden;
    opacity: 0;
    transform: scaleX(0);
    transition: visibility 0.5s linear 0.5s, opacity 0.5s linear,
      transform 0.5s cubic-bezier(0, 0.03, 0.2, 1);
  }
}

@media screen and (max-width: 900px) {
  .header__button {
    display: none;
  }
}
